.editor {
	position: relative;
	width: 580px;
	height: 346px;
	margin: auto auto 0;

	* {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 13px;
		color: #000;
		user-select: none;
		-webkit-user-select: none;
	}

	.graph {
		position: relative;
		height: 100%;
		width: calc(100% - 214px);
		overflow: hidden;
		cursor: default;
	
		canvas {
			outline: none;
			background: #F4F9FF;
		}

		.marker {
			position: absolute;
			left: 2px;
			margin-top: -5px;
			color: #8096B1;
			font-size: 10px;

			&:first-of-type { top: calc(33% - 8px); }
			&:last-of-type { top: calc(66% - 11px); }
		}
	}
	.settings {
		position: absolute;
		top: 25px;
		right: 0;
		width: 205px;
		height: calc(100% - 20px);
		overflow-y: auto;

		select {
			-webkit-appearance: none;
			appearance: none;
			border: none;
			width: 100%;
			height: 27px;
			border-radius: 5px;
			padding: 6px 20px 6px 6px;
			color: #fff;
			margin-bottom: 15px;
			text-align: left;
			background: #0070FF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAICAYAAAAx8TU7AAAAOUlEQVQIHWNgAIL///8bAPFpEA3igwR4gPgWEIMAiOYBCS4C8ZDAIrBq4gigNkztQEFMi6AuQHESAPMeXiEMiWfpAAAAAElFTkSuQmCC) no-repeat 190px 9px;
			background-size: 5px 8px;

			@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAYAAAAvf+5AAAAAeklEQVQoFc2SwQ2AIAxFGYALo7CY7OQGMo6beMJXQ5PWYOAoyael/5FAIQQzWmsJHV3JWD4FqEhH9W5f4RYlTCwOxsjoMoCmUssPTBLRqc4gihcD0z4w36XdHeGvi+XLAK61R24KPG+4tgR49ISb+i4Czz+F7AD8/GY3j4s9N2crn9sAAAAASUVORK5CYII=);
			}

			&:focus {
				outline: none;
				background-color: #394E6E;
			}
		}

		label {
			float: left;
			color: #394E6E;
		}

		.value {
			float: right;
			color: #394E6E;
			margin-bottom: 4px
		}
		.slider {
			clear: both;
			position: relative;
			width: 100%;
			height: 20px;
			margin-bottom: 7px;
			
			.bar {
				position: absolute;
				top: 4px;
				left: 0;
				background: #e0effe;
				height: 3px;
				width: 100%;
				border-radius: 3px;
			}
			.control {
				position: absolute;
				top: 0;
				left: 0;
				background: #fff;
				height: 7px;
				width: 7px;
				border: 2px solid #0070FF;
				border-radius: 6px;

				&:active, &.highlighted {
					border-color: black;
				}
			}
		}
	}
}